// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!



/* fonts */

.opensans{font-family: $font-family-sans-serif;}

/* buttons */

/*  outline buttons, header top registration, account2 */
.btn-outline-primary{border-width: 2px;}
.account .btn-outline-primary{border-width: 2px; padding-left: 1.5rem; padding-right: 1.5rem;}
.button-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.uploadButton:before{
     background-image : url('../static/img/icons/upload-icon.png');
}

.personButton:before{
     background-image : url('../static/img/icons/person-icon.png'); vertical-align: middle; 
}

/* tables */
.table{font-size: 0.875rem;}
.table thead th {
    padding: 1.2rem 0.75rem;
    border-bottom: 1px solid $gray-300;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $gray-300;
}
.table-hover tbody tr:active,.table-hover tbody tr:focus {
    background-color: rgba(255, 246, 246, 0.85);
}
.table-hover tbody tr:hover {
    background-color: rgba(252, 255, 245, 0.85);
}
.table-account{border: 1px solid $gray-300; border-right: none; border-left: none;}
.table-account th{border-top:none;}
.table-account label{margin-bottom: 0;}
/*
.table-wrapper{border: 1px solid $gray-300;}
.table-wrapper .table th {border-top:none;}
.table-wrapper .table-responsive{width: 95%; margin: 0 auto; display: table;}*/
/**
 *
 * Main page start
 * 
 **/

//header-top

/* .header-top{height: 60px;} */

.header-top_language_selector_wrapper{display: inline-block;}

/* language switcher */

.header-top_language_selector_wrapper .selectpicker{background: white; text-transform: uppercase; border: none; font-size: 12px;} 

/* smm buttons sprite with links */

.sidebox {
    overflow: hidden;
}
.sidebox-social a:link, .sidebox-social a:visited, .sidebox-social a:hover, .sidebox-social a:active {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 1px;
    padding: 0;
    text-indent: -9999em;
    background-color: transparent;
    background-image: url('/static/img/social.png');
    background-repeat: no-repeat;
}

.sm-youtube {
    background-position: 0 2px;
}
.sm-fac {
    background-position: -42px 2px;
}

.sm-twitter {
    background-position: -84px 2px;
}

.sm-youtube:hover {
    background-position: 0 -37px;
}
.sm-fac:hover {
    background-position: -42px -37px;
}

.sm-twitter:hover {
    background-position: -84px -37px;
}

/* smm buttons sprite with links end */

/* navigation */

.navbar-nav .nav-link {
    font-size: 0.94rem; font-weight: 500;
    &:hover {
        color: $warning;
    }
}


/* jumbotron */

.mainpage .bg-largeimage
{
background: url("/static/img/slider.jpg") no-repeat;
    background-size: auto auto;
background-size: cover;
min-height: 450px;
margin-bottom: 0;

  @media (min-width:  1200px) {
    padding-top:  50px;
  }
}

.slider_description_extra{margin: 40px auto;}

/* main container */

.mainpage .maincontainer{padding-top: 110px; padding-bottom: 60px;}
.mainpage .advantagescolumn{color: $dark;}
.mainpage .youtubecolumn{}

.mainpage .advantagescolumn h2{font-weight: bold;   @media (min-width:  1200px) {
    font-size:  30px;
  }
    
    
}
.mainpage .advantagescolumn h4{font-weight: bold; margin-top: 20px;}

ol.numberedList {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}
ol.numberedList li {
  margin-bottom: 1.75em;
  padding-left: 45px;
  position: relative;
}


ol.numberedList li:nth-child(1):before {
  content: "1";
  border: 12px double white;
  color: #007385;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 55px 0 -20px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2e5eb0;
  padding: 5px;
  color: white;
}
ol.numberedList li:nth-child(2):before {
  content: "2";
  border: 12px double white;
  color: #007385;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 55px 0 -20px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2e5eb0;
  padding: 5px;
  color: white;
}
ol.numberedList li:nth-child(3):before {
  content: "3";
  border: 12px double white;
  color: #007385;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 55px 0 -20px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2e5eb0;
  padding: 5px;
  color: white;
}
ol.numberedList li:nth-child(4):before {
  content: "4";
  border: 12px double white;
  color: #007385;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 55px 0 -20px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2e5eb0;
  padding: 5px;
  color: white;
}
ol.numberedList li:nth-child(5):before {
  content: "5";
  border: 12px double white;
  color: #007385;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 55px 0 -20px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #2e5eb0;
  padding: 5px;
  color: white;
}
ol.numberedList li.oneLiner:before {
  top: -6px;
}
 
/* footer */
.dpfcopyright{line-height: 100px;}


/**
 *
 * Main page end
 * 
 **/


/**
 *
 * Login page start
 * 
 **/


.loginpage .logo{margin-bottom: 30px;}
.loginpage .sidebox-social{margin-bottom: 30px;}

.loginpage .form-group {
    margin-bottom: 0.85rem;
}
.loginpage .login-form-wrapper{margin-top: 30px;}
.loginpage .login-form .form-check{margin-top: 1.5rem;margin-bottom: 1.5rem; padding-left: 0.05rem;}
/*.loginpage .login-form input[type=checkbox] {
  transform: scale(1.5);
}*/

/* Login form checkbox start */
.custom-control{

    &.material-checkbox{
/*        --color: $primary;*/
        color: $primary;
        .material-control-input{
            display: none;
            &:checked~.material-control-indicator{
                border-color: var(--color);
                transform: rotateZ(45deg) translate(1px, -5px);
                width: 10px;
                border-top: 0px solid #fff;
                border-left: 0px solid #fff;
            }
        }
        .material-control-indicator{
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #aaa;
            transition: .3s;
        }
    }

    &.fill-checkbox{
        --color: #26a69a;

        .fill-control-input{
            display: none;
            &:checked~.fill-control-indicator{
                background-color: purple;
                border-color: var(--color);
                background-size: 80%;
                color: gray;
            }
        }
        .fill-control-indicator{
            border-radius: 3px;
            
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            border: 2px solid #aaa;
            transition: .3s;
            background: transperent;
            background-size: 0%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%3e5eb0' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
    }
}

/* Login form checkbox end */
.loginpage .form-check-label, .loginpage .form-check-label-password{margin-left: 1.25rem;}
.loginpage .form-check-label{font-size: 0.875rem;}
.loginpage .form-account-about-question{margin-top: 25px;}
.loginpage .form-delimiter-bottom{margin-top: 42px;margin-bottom: 34px;}

.loginpage .login-form .btn{font-size:1.5rem; padding: 10px 30px}
.loginpage .login-form-footer{ font-size: 0.875rem;}


/**
 *
 * Login page end
 * 
 **/



/**
 *
 * Account1 page start
 * 
 **/

.account .main-content{margin-top: 0;}
.account .header-top{margin: 54px auto;}

/* Search form start */

.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
/*  padding: 4px 55px 4px 15px;*/
  padding: 0 55px 0 20px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;

  &.hovered,
  &:hover,
  &:active {
    border: 1px solid #aaa;
  }

  input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .search-btn {
    position: absolute;
    right: 0;
    color: #aaa;
    border-radius: 3px; 

     &:hover {
      color: #fff;
      background-color: $primary;
    }
  }
}


/* Search form end */

/* Pagination start */
.pagination .page-link{border: none;}

.pagination small, .pagination .small {
    font-size: 50%;
    font-weight: 400;
    padding-bottom: 0.05rem;
    vertical-align: middle;
}
/* Pagination end */

/**
 *
 * Account1 page end
 * 
 **/

/**
 *
 * Account2 page start
 * 
 **/

/* Upload stockfiles form start */
.account footer{min-height: 9rem;}
.account .form-upload-stockfiles .form-control{margin-bottom: 15px;}
.account .form-upload-stockfiles .progress{margin-bottom: 15px;}
.account .form-upload-stockfiles .progress-bar{}
.account .form-upload-stockfiles .btn-primary{font-size: 0.875rem; padding: 0.375rem 2rem;background: #989898; border-color: #989898;}

/* Upload stockfiles form end */

/* Payment form start */

.account .form-payment-wrapper{margin-top: 100px; margin-bottom: 2rem;}
.account .form-payment-wrapper .form-check-wrapper {margin: 40px 0 20px; font-size: 0.875rem;}
.account .form-payment-wrapper .form-check-wrapper .form-info {border: 1px solid $gray-300; border-radius: $border-radius; padding: 1.5rem 1.25rem 1.25rem 2.85rem; }
.account .form-payment-wrapper .form-check {padding-left: 0; margin-bottom: 20px;}
.account .form-payment-wrapper .form-check .custom-control{padding-left: 2.5rem; text-transform: uppercase;}
.account .form-payment-wrapper .form-check-wrapper .form-info-heading{font-size:0.875rem; font-weight: bold; display: flex; align-items: center; margin-bottom: 0;} 
.account .form-payment-wrapper .form-check-wrapper .form-info-heading:before{content: url(../img/icons/info-icon.png); ; width: 1.5rem; height: 1.5rem; margin-left: -1.75rem; margin-right: 0.25rem;}
.account .form-payment-wrapper .form-info-text {font-size: 0.75rem; font-weight: 300; color: rgba(155,155,155,255);}
.account .form-payment-wrapper .form-payment-submit-button-wrapper{display: block;}
.account .form-payment-wrapper .form-check-label-payment-wrapper{display: inline-block; font-size: 1.5rem; font-weight: bold; vertical-align: middle;}

.account .form-payment-wrapper .btn-primary{padding: 0.5rem 1.5rem; font-size: 1.5rem; }
/* Payment form end */

/* Info block start */
.info_divs_wrapper{padding: 1.5rem 2.5rem 0.5rem; border: 1px solid $gray-300; border-radius: $border-radius;}
.row-info-block{border-bottom:  1px solid $gray-300; line-height: 3rem; font-size:1.125rem;}
.info_divs_wrapper .row-info-block:last-child{border-bottom: none;}
/* Info block end */


/* DTS form start */
.account .form-dts-wrapper {margin-top: 100px;}
.account .form-dts-wrapper .form-group-wrapper  {padding: 1.5rem 2.5rem; border: 1px solid $gray-300; border-radius: $border-radius;}
.account .form-dts-wrapper .form-check-label-payment-wrapper{ font-size: 1.5rem; font-weight: bold; margin: 2rem 0;}
.account .form-dts-wrapper label {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: $primary;
}
.account .form-dts-wrapper .form-dts-smalltext{margin-bottom: 0.5rem;}
.account .btn-outline-primary{padding: 0.5rem 1.5rem; font-size: 1.5rem; margin-bottom: 0.5rem;}
/* DTS form end */

/**
 *
 * Account2 page end
 * 
 **/

/**
 *
 * Left sidebar menu start
 * 
 **/


.navbar-primary {
  background-color: $gray-300;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 24rem;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-left: 60px solid $primary;
  box-shadow: 5px 0 0 2.5px $gray-400 inset;
}

.navbar-primary.collapsed {
  width: 60px;
  background-color: $primary;
          box-shadow: 5px 0 2.5px -1px $gray-300;
          border-left: none;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

// Hide sidebar elements when collapse
.navbar-primary.collapsed .nav-label {
  display: none;
}

.navbar-primary .stacked-label {
  display: none;
}

.navbar-primary.collapsed .stacked-label {
  display: block;
  color: #fff;
}


.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 0.5rem 1.25rem;
  text-align: left;

}
.navbar-primary-menu li a .logo{margin-bottom: 2rem;}

.navbar-primary-menu li a:hover {
  background-color: $gray-500;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  margin-top: 60px;
  margin-left: 24rem;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}


.navbar-primary-inner{margin-top: 2rem;}
.navbar-primary .logo-item{margin-bottom: 1rem;}

// Stacked sidebar
.navbar-primary.collapsed .first-menu > li:nth-child(1) > a:nth-child(1){ padding-left: 0.5rem;}
.navbar-primary.collapsed .second-menu > li:last-child > a:last-child{ padding-left: 0.5rem;}
// Full 
.navbar-primary .nav-label{margin-left: 2rem;}
.navbar-primary .nav-label{color: initial;}
.navbar-primary .nav-label:before{padding-right: 1rem; color: $primary;}

// Second menu
.menu-second{margin-top: 6rem; font-size: 0.875rem;}


// Social icons on the sidebar
.menu-second .vertical-social {padding-left: 0.5rem; margin-top: 1.5rem;}
.menu-second .sidebox-social {padding-left: 1rem;}
.menu-second .sidebox-social a:hover{background-color: transparent;}
/**
 *
 * Left sidebar menu end
 * 
 **/
